subscribe/SCADA_subscribe.json
[{"id":"d2c55c72.9f81e","type":"tab","label":"IoT Cloud SCADA - AWS","disabled":false,"info":""},{"id":"143ee94b.a86867","type":"ui_gauge","z":"d2c55c72.9f81e","name":"Analyzer - Nox","group":"a96fd94e.82a198","order":0,"width":"5","height":"5","gtype":"gage","title":"NOx - ppb","label":"ppb","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":420,"wires":[]},{"id":"703d2b6e.1dbd24","type":"ui_gauge","z":"d2c55c72.9f81e","name":"Pressure","group":"94a85536.4b88f8","order":1,"width":"5","height":"5","gtype":"donut","title":"Pressure - psi","label":"psi","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":220,"wires":[]},{"id":"d48b7561.3c7f38","type":"mqtt in","z":"d2c55c72.9f81e","name":"Temperature Events via Solace","topic":"devices/temperature/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":150,"y":40,"wires":[["b2253dce.bc0a2"]]},{"id":"afc0c217.3ddc2","type":"ui_chart","z":"d2c55c72.9f81e","name":"Temperature","group":"6a86c28b.39cffc","order":1,"width":"10","height":"5","label":"Temperature - deg F","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":40,"wires":[[]]},{"id":"883ba7e7.581e88","type":"ui_gauge","z":"d2c55c72.9f81e","name":"Level","group":"5d0ad248.51162c","order":1,"width":"5","height":"5","gtype":"wave","title":"Level - %","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":120,"wires":[]},{"id":"cf06a57.0948858","type":"function","z":"d2c55c72.9f81e","name":"Parse Level","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.level + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["883ba7e7.581e88","29e121df.5eba8e"]]},{"id":"b85d8679.73b5c8","type":"function","z":"d2c55c72.9f81e","name":"Parse SoX","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.sox + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["29e121df.5eba8e","c912f077.ae55a"]]},{"id":"ed4f86b3.d71238","type":"function","z":"d2c55c72.9f81e","name":"Parse Pressure","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.pressure + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["703d2b6e.1dbd24","29e121df.5eba8e"]]},{"id":"b2253dce.bc0a2","type":"function","z":"d2c55c72.9f81e","name":"Parse Temperature","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.Temperature + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":430,"y":40,"wires":[["afc0c217.3ddc2","29e121df.5eba8e"]]},{"id":"d5efed15.3503f","type":"mqtt in","z":"d2c55c72.9f81e","name":"Level Events via Solace","topic":"devices/level/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":120,"y":120,"wires":[["cf06a57.0948858"]]},{"id":"7d28f236.46f97c","type":"mqtt in","z":"d2c55c72.9f81e","name":"Pressure Events via Solace","topic":"devices/pressure/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":130,"y":220,"wires":[["ed4f86b3.d71238"]]},{"id":"c6476add.39fb98","type":"mqtt in","z":"d2c55c72.9f81e","name":"Humidity Events via Solace","topic":"devices/humidity/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":130,"y":300,"wires":[["28c00328.36cc8c"]]},{"id":"28c00328.36cc8c","type":"function","z":"d2c55c72.9f81e","name":"Parse Humidity","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.Humidity + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["29e121df.5eba8e","9d1ed92d.cf9308"]]},{"id":"1d7495e8.c9a20a","type":"mqtt in","z":"d2c55c72.9f81e","name":"SoX Events via Solace","topic":"devices/sox/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":120,"y":400,"wires":[["b85d8679.73b5c8"]]},{"id":"29e121df.5eba8e","type":"debug","z":"d2c55c72.9f81e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":480,"wires":[]},{"id":"9d1ed92d.cf9308","type":"ui_chart","z":"d2c55c72.9f81e","name":"Humidity","group":"6a86c28b.39cffc","order":1,"width":"10","height":"5","label":"Humidity - %","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":300,"wires":[[]]},{"id":"c912f077.ae55a","type":"ui_gauge","z":"d2c55c72.9f81e","name":"Analyzer - SoX","group":"a96fd94e.82a198","order":0,"width":"5","height":"5","gtype":"donut","title":"SOx - ppb","label":"ppb","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":360,"wires":[]},{"id":"4add82b8.8e642c","type":"function","z":"d2c55c72.9f81e","name":"Parse NoX","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.nox + getRndInteger(5, 10);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["29e121df.5eba8e","143ee94b.a86867"]]},{"id":"cb736d66.2f43a","type":"mqtt in","z":"d2c55c72.9f81e","name":"NoX Events via Solace","topic":"devices/nox/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":120,"y":480,"wires":[["4add82b8.8e642c"]]},{"id":"a96fd94e.82a198","type":"ui_group","z":"","name":"SoX","tab":"da26ed37.4b6ce","disp":false,"width":"5","collapse":false},{"id":"94a85536.4b88f8","type":"ui_group","z":"","name":"Pressure","tab":"da26ed37.4b6ce","disp":false,"width":"5","collapse":false},{"id":"db9a6ee9.d16a4","type":"mqtt-broker","z":"","name":"VatsSolaceGCP","broker":"tcp://mr1u6o37qngitn.messaging.solace.cloud","port":"1883","clientid":"vats_client","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"devices/+/events","birthQos":"1","birthPayload":"msg.payload","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6a86c28b.39cffc","type":"ui_group","z":"","name":"Temperature","tab":"da26ed37.4b6ce","disp":false,"width":"10","collapse":false},{"id":"5d0ad248.51162c","type":"ui_group","z":"","name":"Level","tab":"da26ed37.4b6ce","disp":false,"width":"5","collapse":false},{"id":"da26ed37.4b6ce","type":"ui_tab","z":"","name":"IoT AWS Cloud SCADA - Enabled by Solace Event Mesh ","icon":"dashboard","disabled":false,"hidden":false}]